*.class
bin/
logs/
src/rs/ac/bg/etf/pp1/*
!src/rs/ac/bg/etf/pp1/util/Log4JUtils.java
!src/rs/ac/bg/etf/pp1/SemanticAnalyzer.java
!src/rs/ac/bg/etf/pp1/Compiler.java
!src/rs/ac/bg/etf/pp1/Method.java
!src/rs/ac/bg/etf/pp1/MyTab.java
!src/rs/ac/bg/etf/pp1/CounterVisitor.java
!src/rs/ac/bg/etf/pp1/CodeGenerator.java
spec/*
test/program.obj
!spec/mjlexer.flex
!spec/mjparser.cup